body {
    margin: 20px;
    padding-bottom: 100px;
}

form {
    margin-left: auto;
    margin-right: auto;
}

.sig-second-title {
    margin-top: 50px;
}

.view {
    margin-bottom: 20px;
    width: 430px;
    height: 220px;
    padding: 10px;
    letter-spacing: 0.25px;
    line-height: 1.4rem;
}

#p-name,
#p-title {
    font-size: 13px;
}

#p-email,
#p-telephone,
#p-telephone-other,
#p-adres,
.sig-website {
    font-size: 11px;
}

.sig-image {
    display: block;
    width: 200px;
    margin-left: auto;
    /* margin-right: auto; */
}

#p-email {
    text-decoration: underline;
    color: #0000EE;
}

.sig-website {
    text-decoration: underline;
    color: #12132f;
    margin-top: 8px;
}

.vlg {
    border-left: 2px solid #09ad5a;
    border-radius: 5px;
    height: 140px;
    margin: 0 10px;
}

.vlb {
    border-left: 2px solid #12132f;
    border-radius: 5px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.address {
    display: inline-block;
}

#p-name {
    font-weight: 900;
}

#p-title,
#p-email,
#p-telephone,
#p-telephone-other,
.sig-divider,
.address {
    font-weight: 500;
}

#p-telephone,
#p-telephone-other,
.address,
.sig-divider {
    color: #9c9d9f;
}

.signature {
    background-color: white;
    font-family: 'Red Hat Display', sans-serif;
}

h3 {
    font-family: 'Red Hat Display', sans-serif;
    text-shadow: 2px;
    text-shadow: 1px 1px 1px rgb(28, 43, 175);
}

.signature-cell {
    flex: 1.3;
    /* flex: 1.5; */
    justify-content: end;
    display: flex;
}

.description-cell {
    flex: 1;
    display: flex;
}

.empty-leftside {
    flex: 1.3;
    /* flex: 1.5; */
    display: flex;
}

.empty-rightside {
    flex: 1;
    display: flex;
}

input::placeholder {
    font-size: 15px;
    font-style: italic;
}

@media (min-width: 768px) {
    .main-form-sub {
        width: 650px;
    }
}